<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

      <dt>School</dt>
      <dd>
        <% if @user.school.present? %>
          <a href="/schools/<%= @user.school_id %>">
            <%= @user.school.school_name %>
          </a>
        <% end %>
      </dd>

      <dt>First name</dt>
      <dd><%= @user.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @user.last_name %></dd>

      <dt>Cell phone number</dt>
      <dd><%= @user.cell_phone_number %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many invoices -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Invoices
      </li>

      <% @user.invoices.each do |invoice| %>
        <li class="list-group-item">
          <a href="/invoices/<%= invoice.id %>">
            <%= invoice.requestor_user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/invoices/<%= invoice.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == invoice.ambassador %>
              <a href="/invoices/<%= invoice.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_invoice/<%= invoice.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many referrals -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Referrals
      </li>

      <% @user.referrals.each do |referral| %>
        <li class="list-group-item">
          <a href="/referrals/<%= referral.id %>">
            <%= referral.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/referrals/<%= referral.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == referral.referrer %>
              <a href="/referrals/<%= referral.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_referral/<%= referral.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
