<div class="page-header">
  <h1>
    Referrals
    <a href="/referrals/new" class="btn btn-lg btn-success">New Referral</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Referrer</th>
        <th>School</th>
        <th>Actions</th>
      </tr>

      <% @referrals.each do |referral| %>
      <tr>
        <td>
          <% if referral.referrer.present? %>
            <a href="/users/<%= referral.referrer.id %>">
              <%= referral.referrer.created_at %>
            </a>
          <% end %>
        </td>
        <td>
          <% if referral.school.present? %>
            <a href="/schools/<%= referral.school.id %>">
              <%= referral.school.school_name %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/referrals/<%= referral.id %>" class="btn btn-primary">Show</a>
          <a href="/referrals/<%= referral.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_referral/<%= referral.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @referrals, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
