<div class="page-header">
  <h3>Referral #<%= @referral.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Referrer</dt>
      <dd>
        <% if @referral.referrer.present? %>
          <a href="/users/<%= @referral.referrer_id %>">
            <%= @referral.referrer.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>School</dt>
      <dd>
        <% if @referral.school.present? %>
          <a href="/schools/<%= @referral.school_id %>">
            <%= @referral.school.school_name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/referrals" class="btn btn-primary">
        Back
      </a>
      <a href="/referrals/<%= @referral.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_referral/<%= @referral.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
